.widgetMeteo {
    font-size: 20px;
    box-shadow: inset 0.2em 0.2em #B78C33, 0.2em 0.2em #B78C33, 1px 10px 10px 10px rgba(2, 2, 32, 0.397);
    border-radius: 15px;
    border-right: 0.2em solid #B78C33;
    margin-top: 55px;
    /* background: linear-gradient(-45deg, rgba(255, 204, 0, 1), rgba(1, 81, 192, 1)); */
}

.trait {
    border: 1px solid rgb(250, 53, 135);
}
.trait2 {
    border: 1px solid rgb(250, 53, 135);
}

.ville {
    margin-bottom: 20px;
    background: linear-gradient(15deg, rgba(241, 169, 24, 0.781), rgba(241, 169, 24, 0.781));
    border-top: 0.2em solid #B78C33;
    border-left: 0.2em solid #B78C33;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.ville2 {
    margin-top: 20px;
    background: linear-gradient(15deg, rgba(241, 169, 24, 0.781), rgba(241, 169, 24, 0.781));
    border-left: 0.2em solid #B78C33;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.fD {
    background: linear-gradient(145deg, rgba(54, 162, 235, 0.8), rgba(9, 98, 158, 0.8));
    margin-top: -20px;
    margin-bottom: -20px;
    border-left: 0.2em solid #B78C33;
}

.ico {
    width: 80%;
    height: auto;
}